html {
  font-size: 14px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  min-width: 1000px;
  font-family: Arial;
  font-size: 14px;
  line-height: 1.42857;
  color: #333;
  background-color: $white;
}

*, :after, :before {
  box-sizing: border-box;
}

a {
  color: #333;
  text-decoration: none;
}

img {
  vertical-align: middle;
}

header {
  margin-bottom: 30px;
}

h2 {
  font-size: 2.143rem;
}

h1, h2, h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  line-height: 1.1;
}

ol, ul {
  margin-top: 0;
  margin-bottom: 10px;
}

p {
  margin: 0 0 10px;
}

dl {
  margin-top: 0;
  margin-bottom: 20px;
}

dt {
  font-weight: 700;
}

dd, dt {
  line-height: 1.43em;
}

dd {
  margin-left: 0;
}

