.wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  flex-grow: 1;
}

.main-content {
  padding: 60px 50px;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: center;
  flex-grow: 1;

  .center-maincontent & {
    align-items: center;

    .link-container {
      margin-top: 140px;
    }
  }

  .link-container {
    text-align: center;
  }
}

.main-header {
  justify-content: space-between;
  align-items: center;
  align-content: stretch;
  display: flex;
  padding: 18px 10%;
  z-index: 1;

  &--info {
    color: #747575;
    font-size: 1rem;
    opacity: .5;
    flex-basis: 25%;
  }

  .logo {
    margin: 0;
    flex-basis: 50%;
    text-align: center;
  }

  .search-last {
    text-align: right;
    letter-spacing: .03em;
  }
}

.navigation-container {
  display: flex;
}
