<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}The Orchard | Thai Restaurant Task{% endblock %}</title>
    <link type="text/css" rel="stylesheet" href="/static/css/app.css">
</head>

<body>

  <div class="container">
    <div class="masthead">
      <h1 class="muted">The Orchard | Restaurant Finder</h1>
    </div>
  </div>

  <div class="container main-navbar">
    <ul class="nav nav-pills">

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle {{ 'active' if nav == 'top' }}" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Top Rated</a>
          <div class="dropdown-menu">
              <a class="dropdown-item" href="/top/best">Best Answer</a>
              <a class="dropdown-item" href="/top/best2">2nd Best Answer</a>
              <a class="dropdown-item" href="/top/score">Lowest Score</a>
              <a class="dropdown-item" href="/top/grade">Total # A</a>
              <a class="dropdown-item" href="/top/ratio">Ratio of A / Total Grades</a>
              <a class="dropdown-item" href="/top/critical">Total # A, least critical</a>
              <a class="dropdown-item" href="/top/scorecount">Total # A, lowest score</a>
              <a class="dropdown-item" href="/top/recent">Latest Grade A, lowest score</a>
          </div>
      </li>

      <li class="nav-item">
        <a class="nav-link {{ 'active' if nav == 'results' }}" href="/">All Restaurants</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {{ 'active' if nav == 'dataviz' }}" href="/dataviz">Dataviz</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {{ 'active' if nav == 'etl' }}" href="/etl">ETL</a>
      </li>
    </ul>
  </div>


  {% block content %} {% endblock %}

  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  {% block script %} {% endblock %}
</body>
</html>
